@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import "reset.css";
@import "common/common.css";
@import "common/nav-bar.css";
@import "common/setting.css";
@import "common/profile.css";
@import "css/friends.css";
@import "css/chats.css";
html {
  background-color: #f0e9da;
  box-sizing: border-box;
}
body {
  height: 130vh;
}
.index__main {
  padding: 0px 25px 0px 25px;
}

.index__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.index__header__titlebox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 40px;
}
.index__header h3 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Chewy", cursive;
}
.index__header h4 {
  padding-top: 20px;
  font-size: 18px;
  width: 80%;
  text-align: center;
  opacity: 0.5;
  font-family: "Chewy", cursive;
}
.index__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px 0px 10px 0px;
}
#email,
#password {
  width: 90%;
  height: 60px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  background-color: #f0e9da;
  margin: 10px 0px 15px 0px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}
input:focus {
  outline: none;
  animation: toYellw 1s ease-in-out forwards;
}
@keyframes toYellw {
  0% {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  }
  100% {
    border-bottom: 2px solid #f7d02c;
  }
}
#submit {
  width: 80%;
  height: 60px;
  background-color: #f7eb99;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Chewy", cursive;
}
#submit:hover {
  cursor: pointer;
}

a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  width: 60%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
